[[extend 'layout.html']]

<div class="section" id="app">
  <!-- Vue.js template for the index page -->
  <section class="section">
    <h1 class="title">Bird Watching App</h1>
    <h2 class="subtitle">Explore bird sightings and statistics</h2>
  </section>

  <!-- Map Section -->
  <section class="section">
    <div id="map" style="height: 500px;"></div>
  </section>
</div>

[[block page_scripts]]
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="/static/js/index.js"></script>
[[end]]
