[[extend 'layout.html']]

<div class="section">
    <h1 class="title">My Checklists</h1>
    
    <!-- Display the checklist items -->
    <table class="table">
        <thead>
            <tr>
                <th>Observation Date</th>
                <th>Common Name</th>
                <th>Observation Count</th>
                <th>Actions</th> <!-- Column for edit and delete buttons -->
            </tr>
        </thead>
        <tbody>
            [[for item in checklist_items:]]
                <tr>
                    <td>[[=item['observation_date']]]</td>
                    <td>[[=item['common_name']]]</td>
                    <td>[[=item['user_observation_count']]]</td>
                    <td>
                        <!-- Edit Button -->
                        <button class="button is-warning is-small" >Edit</button>
                        <!-- Delete Button -->
                        <button class="button is-danger is-small" >Delete</button>
                    </td>
                </tr>
            [[pass]]
        </tbody>
    </table>

    <!-- Return Button -->
    <div class="field is-grouped">
        <div class="control">
            <a href="/checklist" class="button is-light">Return</a>
        </div>
    </div>
</div>

[[block page_scripts]]
<script src="/static/js/index.js"></script>
[[end]]
